$card-width: 200px;
$card-height: 80px;
$card-padding-left: 0px;
$card-height-margin: 30px;
$shadow-size: 3px;

.chart-item-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: $card-width;
  height: $card-height;
  color: black;
  border-radius: 10px;
  background-color: #D0F2FF;
  box-shadow:inset -3px -3px 3px 0 rgba(0, 35, 148,.2), // TODO $shadow-size (for now it's hardcoded 3px but should add it as variable
  inset 3px 3px 3px 0 rgba(255,255,255,0.5);
  transition-duration: .3s;
  cursor: pointer;
}
.chart-item-card:hover {
  box-shadow:inset 3px 3px 3px 0 rgba(0, 35, 148,.2),
  inset -3px -3px 3px 0 rgba(255,255,255,0.5);
  transition-duration: .3s;
}

.parent-node-vertical {
  position: relative;
  padding-left: $card-width + $card-padding-left;

  .child-node-vertical {
    position: relative;
    margin-bottom: $card-height-margin;
  }
}

// vertical tree type styles

.child-node-vertical:before {
  content: '';
  position: absolute;
  height: $card-height / 2;
  width: $card-width / 2 - $shadow-size;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  margin-left: -$card-width / 2;
}

.child-node-vertical:after {
  content: '';
  position: absolute;
  height: 100%;
  border-left: 3px solid black;
  top: $card-height-margin;
  margin-left: -$card-width / 2;
}

.child-node-vertical:last-child:after {
  content: none;
}

// horizontal tree type styles

.chart-item-horizontal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.parent-node-horizontal {
  display:flex;
  position: relative;
  padding-top: 20px;
}

.child-node-horizontal {
  position: relative;
  float: left;
  text-align: center;
  padding: 20px 5px 0 5px; // TODO вынести паддинг в переменную
}

.child-node-horizontal::before, .child-node-horizontal::after {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  border-top: 3px solid black;
  width: 50%;
  height: 20px;
}

.child-node-horizontal::after {
  right: auto;
  left: 50%;
  border-left: 3px solid black;
}

/*We need to remove left-right connectors from elements without any siblings*/
.child-node-horizontal:only-child::after, .child-node-horizontal:only-child::before {
  display: none;
}

.child-node-horizontal:only-child {
  padding-top: 0;
}

.child-node-horizontal:first-child:before, .child-node-horizontal:last-child:after {
  border: 0 none;
}

.child-node-horizontal:last-child:before {
  border-right: 3px solid black;
  border-radius: 0 5px 0 0;
}

.child-node-horizontal:first-child:after {
  border-radius: 5px 0 0 0;
}

.parent-node-horizontal:before {
  content: '';
  position: absolute;
  height: 20px;
  border-left: 3px solid black;
  top: 0;
  left: 50%;
}

///// ===============================================================================================================
