<div class="chart-item-card">
  {{employee.id}} {{employee.firstname}} {{employee.lastname}}
</div>

<div [ngClass]="{
      'parent-node-vertical': treeType === 'vertical',
      'parent-node-horizontal': treeType === 'horizontal'
     }" class="parent-node-vertical">

  <div [ngClass]="{
      'child-node-vertical': treeType === 'vertical',
      'child-node-horizontal': treeType === 'horizontal'
     }"
       *ngFor="let employee of employee.subordinates">
    <app-chart-item  [employee]="employee"></app-chart-item>
  </div>
</div>
