$card-width: 200px;
$card-height: 80px;
$card-padding-left: 0px;
$card-height-margin: 30px;

.chart-item-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $card-width;
  height: $card-height;
  color: black;
  border-radius: 10px;
  background-color: whitesmoke;
  box-shadow:inset -5px -5px 5px 0 rgba(0,0,0,.05),
  inset 5px 5px 5px 0 rgba(255,255,255,0.5);
}

.parent-node {
  position: relative;
  padding-left: $card-width + $card-padding-left;

  .child-node {
    position: relative;
    margin-bottom: $card-height-margin;
  }
}

// TODO should delete it after tests with different tree types
//.parent-node:before {
//  content: '';
//  position: absolute;
//  height: 100%;
//  border-left: 3px solid black;
//  margin-left: -$card-width / 2;;
//  z-index: 4;
//}

//.parent-node:after {
//  content: '';
//  position: absolute;
//  height: $card-height-margin;
//  border-left: 3px solid black;
//  top: 100%;
//  margin-left: -$card-width / 2;
//}

//.parent-node:nth-child(2):before, .parent-node:nth-child(2):after {
//  content: none;
//}

.child-node:before {
  content: '';
  position: absolute;
  height: $card-height / 2;
  width: $card-width / 2;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  margin-left: -$card-width / 2;
}

.child-node:after {
  content: '';
  position: absolute;
  height: 100%;
  border-left: 3px solid black;
  top: $card-height-margin;
  margin-left: -$card-width / 2;
}

.child-node:last-child:after {
  content: none;
}
