<div
  [ngClass]="{'chart-item-card-active': isAdditionalInformOpen}"
  class="chart-item-card"
  (click)="toggleAdditionalInform()"
  draggable="true"
  (dragstart)="onDragStart($event)"
  (drop)="onDrop($event)">
  {{employee.id}} {{employee.firstname}} {{employee.lastname}}
</div>

<div
  *ngIf="isAdditionalInformOpen"
  class="additional-inform">
  Lorem ipsum dolor sit amet, consectetur adipisicing
  elit. Assumenda, eveniet harum laboriosam nemo optio
  quam recusandae repellendus rerum vero voluptatem?
</div>

<div
  *ngIf="employee.subordinates.length"
  [ngClass]="{
      'parent-node-vertical': treeType === 'vertical',
      'parent-node-horizontal': treeType === 'horizontal'
     }" class="parent-node-vertical"
  (dragover)="onDragOver($event)">

  <div [ngClass]="{
      'child-node-vertical': treeType === 'vertical',
      'child-node-horizontal': treeType === 'horizontal'
     }"
       *ngFor="let employee of employee.subordinates">
    <app-chart-item
      [ngClass]="{
        'chart-item-horizontal': treeType === 'horizontal'
      }"
      [employee]="employee">
    </app-chart-item>
  </div>
</div>
