<div class="wrapper">
  <div class="container">
    <div class="popup-header">
      <div class="popup-title">Создать аккаунт</div>
    </div>
    <div class="popup-body">
      <div>
        <div>
          <form ngNativeValidate class="form" (ngSubmit)="register()">
            <div>
              <div class="input-field">
                <label for="Login">Логин:</label>
                <input id="Login" required placeholder="Логин" type="text" name="Login" [(ngModel)]="userCredentials.username"/>
              </div>
              <div class="input-field">
                <label for="Password">Пароль:</label>
                <input id="Password" required placeholder="Пароль" type="text" name="Password" [(ngModel)]="userCredentials.password"/>
              </div>
              <div class="error-message" *ngIf="errorMessage">{{errorMessage}}</div>
              <div class="error-message placeholder" *ngIf="!errorMessage"></div>
            </div>
            <div class="button-container">
              <button type="submit">Зарегистрироваться</button>
            </div>
            <div class="additional-navigation">
              <div>Уже зарегистрированы?</div>
              <div> <a class="additional-navigation-link" (click)="goToLoginPage()">Войти</a></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


