<div
  class="chart-item-card buffer"
  draggable="true"
  [ngClass]="{
    'chart-item-card-active': isAdditionalInformOpen,
    'buffer': isBufferChartItem
  }"
  (dragstart)="onDragStart($event)"
  (drop)="onDrop($event)"
  (contextmenu)="onContextMenu($event)">
  <div class="person-photo">
    <img src="{{employee.avatarPhotoLink || './assets/icons/man.png'}}" alt="avatar">
  </div>
  <div class="person-main-inform">
    <div class="value">{{employee.firstName}}</div>
    <div class="value">{{employee.lastName}}</div>
    <div class="value">{{employee.department}}</div>
  </div>
</div>

<!--<app-two-columns-list-->
<!--  [isInformDisplaying]="isAdditionalInformOpen"-->
<!--  [listInform]="employee"-->
<!--&gt;</app-two-columns-list>-->

<div
  *ngIf="employee.subordinates.length"
  [ngClass]="{
      'parent-node-vertical': treeType === 'vertical',
      'parent-node-horizontal': treeType === 'horizontal'
     }" class="parent-node-vertical"
  (dragover)="onDragOver($event)">

  <div [ngClass]="{
      'child-node-vertical': treeType === 'vertical',
      'child-node-horizontal': treeType === 'horizontal'
     }"
       *ngFor="let employee of employee.subordinates">
    <app-chart-item
      [ngClass]="{
        'chart-item-horizontal': treeType === 'horizontal'
      }"
      [isBufferChartItem]="isBufferChartItem"
      [employee]="employee">
    </app-chart-item>
  </div>
</div>
