<header>
  <div class="chart-controls">
    <div class="header-logo">
      <div class="logo-name">
        LOGO
      </div>
      <div class="header-name">
        ChartAutomation
      </div>
    </div>

    <div class="header-controls" *ngIf="mode === 'home'">
      <app-chart-selector></app-chart-selector>
      <div class="header-button icons add-chart-icon" (click)="openAddChartPopup()"></div>
    </div>
  </div>

  <div class="header-controls" *ngIf="mode === 'home'">
    <div class="header-button icons add-person-icon" (click)="goToAddItemPage()"></div>
    <div class="header-button icons upload">
      <app-json-file-input></app-json-file-input>
    </div>
    <div class="header-button icons export">
      <app-json-file-export></app-json-file-export>
    </div>
    <div class="switch-tree-type-buttons">
      <div [ngClass]="{ active: treeType === 'vertical'}"
           class="header-button icons list-chart-icon"
          (click)="switchTreeType('vertical')">
      </div>
      <div [ngClass]=" { active: treeType === 'horizontal'}"
           class="header-button icons tree-chart-icon"
           (click)="switchTreeType('horizontal')">
      </div>
    </div>
    <div [ngClass]="{active: bufferState === 'open'}" class="header-button icons buffer"
         (click)="toggleBuffer()">
      <div class="buffer-item-counter" *ngIf="bufferItemCounter">{{bufferItemCounter}}</div>
    </div>
    <div class="header-button icons logout-icon" (click)="logout()"></div>
  </div>

  <div class="header-controls" *ngIf="mode === 'item-form'">
    <div class="header-button icons home-icon" (click)="goToMainPage()">
    </div>
  </div>
</header>

