<header>
  <div class="header-logo">
    <div class="logo-name">
      LOGO
    </div>
    <div class="header-name">
      ChartAutomation
    </div>
  </div>

  <div class="header-controls">
    <div class="switch-tree-type-buttons">
      <div [ngClass]="{ active: treeType === 'vertical'}"
           class="header-button icons list-chart-icon"
          (click)="switchTreeType('vertical')"></div>
      <div [ngClass]=" { active: treeType === 'horizontal'}"
           class="header-button icons tree-chart-icon"
           (click)="switchTreeType('horizontal')"></div>
    </div>
    <div [ngClass]="{active: bufferState === 'open'}" class="header-button icons buffer"
         (click)="toggleBuffer()"></div>
  </div>
</header>

