<app-header [mode]="'admin'">

</app-header>
<app-popup></app-popup>
<div class="wrapper">
  <div class="section-container">
    <div class="section">
      <div class="section-title">Группы</div>
      <div class="section-header">
        <div class="placeholder"></div>
        <div class="section-header-param">Имя группы</div>
        <div class="section-header-param">Численность группы</div>
      </div>
      <button (click)="removeGroup()"
              class="remove-group-button"
              [disabled]="groups[currentActiveGroupIndex].userInGroup?.length !== 0"
              *ngIf="currentActiveGroupIndex != -1">Удалить группу</button>
      <div class="group-body">
        <div class="users-line-container" *ngFor="let group of groups; let currentGroupIndex = index">
          <div class="section-list-item param-hover pointer"
               [ngClass]="{'active' : currentGroupIndex === currentActiveGroupIndex}"
               (click)="selectGroup(currentGroupIndex)">
            {{currentGroupIndex + 1}}.
            <div class="section-param">{{group.groupName}}</div>
            <div class="section-param">{{group.userInGroup.length ?? 0}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container">
    <div class="section">
      <div class="section-title">Пользователи в группах{{groups[currentActiveGroupIndex]?.groupName}}</div>
      <div class="section-header">
        <div class="section-header-param">Id</div>
        <div class="section-header-param">Логин</div>
        <div class="section-header-param">Роль</div>
      </div>
      <button class="add-user-button"
              (click)="openAddUserToGroupPopup()"
              *ngIf="currentActiveGroupIndex != -1"> Добавить пользователя</button>
      <div class="users-line-container" *ngFor="let selectedGroup of usersInSelectedGroup; let currentUserIndex = index">
        <div class="section-list-item">
          <div class="section-param first-param">{{selectedGroup.user.id}}</div>
          <div class="section-param second-param">{{selectedGroup.user.login}}</div>
          <div class="section-param">{{selectedGroup.user.role}}</div>
        </div>
        <button (click)="removeUserFromGroup(selectedGroup.user.id)">Удалить</button>
      </div>
    </div>
  </div>

  <div class="section-container">
    <div class="section">
      <div class="section-title">Разрешения для {{groups[currentActiveGroupIndex]?.groupName}} Group</div>
      <div *ngIf="currentActiveGroupIndex != -1">
        <div class="section-list-item">
          <div class="section-param">Доступ на загрузку</div>
          <input class="section-param checkbox" type="checkbox" [(ngModel)]="currentGroupPermissionList.canDownload" (change)="updatePermissionList()">
        </div>
        <div class="section-list-item">
          <div class="section-param">Доступ на скачивание</div>
          <input class="section-param checkbox" type="checkbox" [(ngModel)]="currentGroupPermissionList.canUpload" (change)="updatePermissionList()">
        </div>
      </div>
    </div>
  </div>
</div>

