.icons {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &.tree-chart-icon {
    background-image: url("../../assets/icons/family-tree.png");
    background-size: 30px;
  }
  &.list-chart-icon {
    background-image: url("../../assets/icons/list-chart-icon.png");
    background-size: 30px;
  }
  &.buffer {
    background-image: url("../../assets/icons/buffer.png");
    background-size: 30px;
  }
  &.drop-icon {
    background-image: url("../../assets/icons/drop.png");
    background-size: 50px;
  }
  &.add-person-icon {
    background-image: url("../../assets/icons/add-person.png");
    background-size: 30px;
  }
  &.home-icon {
    background-image: url("../../assets/icons/home.png");
    background-size: 30px;
  }
}
