.icons {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &.tree-chart-icon {
    background-image: url("../../assets/icons/family-tree.svg");
    background-size: 30px;
  }
  &.list-chart-icon {
    background-image: url("../../assets/icons/list-chart-icon.svg");
    background-size: 30px;
  }
  &.buffer {
    background-image: url("../../assets/icons/buffer.svg");
    background-size: 30px;
  }
  &.drop-icon {
    background-image: url("../../assets/icons/drop.svg");
    background-size: 50px;
  }
  &.add-person-icon {
    background-image: url("../../assets/icons/add-person.svg");
    background-size: 30px;
  }
  &.home-icon {
    background-image: url("../../assets/icons/home.svg");
    background-size: 30px;
  }
  &.upload {
    background-image: url("../../assets/icons/upload.svg");
    background-size: 25px;
  }
  &.export {
    background-image: url("../../assets/icons/upload.svg");
    background-size: 25px;
    transform: rotate(180deg);
  }
  &.add-chart-icon {
    background-image: url("../../assets/icons/add-chart.png");
    background-size: 30px;
  }
  &.close-icon {
    background-image: url("../../assets/icons/close.png");
    background-size: 20px;
  }
}
