@import 'src/app/shared/shared';

.wrapper-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100vw;
  height: calc(100vh - 100px);
  margin-top: 100px;
  overflow-y: auto;
  padding: 30px;

  .page-title {
    width: 95%;
    font-size: 28px;
    font-weight: 700;
    color: $text-color;
    margin-bottom: 30px;
  }

  input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    box-shadow:inset 3px 3px 3px 0 rgba(0, 35, 148,.2),
    inset -3px -3px 3px 0 rgba(255,255,255,0.5);
    color: $text-color;
    font-size: 18px;
    font-weight: 400;
  }
}
