$background: #D8E3FF;
$buffer-background: #E2D8FF;
$card-width: 200px;
$card-height: 80px;
$card-padding-left: 0px;
$card-height-margin: 30px;
$shadow-size: 3px;
$text-color: #002394;
$card-font-weight: 700;
$card-font-size: 18px;

.empty-element-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $card-width;
  min-height: $card-height;
  border: 1px $text-color dashed;
  border-radius: 4px; //TODO вынести в файл с переменными

  .empty-element-placeholder-drop {
    pointer-events: none;
    width: 70px;
    height: 70px;
  }
}
