@import "src/app/shared/shared.scss";
@import "src/app/shared/icons.scss";
@import "src/app/shared/popup-shared.scss";

.popup-wrapper {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;

  &.active {
    display: flex;
  }

  .popup-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .6;
    z-index: 4;
  }

  .popup-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    min-height: 100px;
    padding: 15px;
    background-color: white;
    border-radius: 20px;
    z-index: 5;
    box-shadow:inset -3px -3px 3px 0 rgba(0, 35, 148,.2),
    inset 3px 3px 3px 0 rgba(255, 255, 255, 0.5);

    .popup-header {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 30px;

      .popup-title {
        font-size: 24px;
        font-weight: bold;
        color: $text-color;
        width: 400px;
        text-align: center;
        text-overflow: ellipsis;
      }
      .popup-close-button {
        position: absolute;
        width: 30px;
        height: 30px;
        right: 0;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
          box-shadow:inset -3px -3px 3px 0 rgba(0, 35, 148,.2),
          inset 3px 3px 3px 0 rgba(255, 255, 255, 0.5);
        }
      }
    }

    .popup-body {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-bottom: 30px;

      label {
        color: $text-color;
        font-size: 20px;
        margin-right: 10px;
      }

      input {
        height: 30px;
        padding: 10px;
        border: 2px solid $text-color;
        border-radius: 5px;
        color: $text-color;
        font-size: 16px;
        font-weight: bold;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        padding: 20px;
        margin-top: 30px;
        border: none;
        background-color: $background;
        border-radius: 5px;
        color: $text-color;
        font-size: 16px;
        font-weight: bold;
        box-shadow:inset -3px -3px 3px 0 rgba(0, 35, 148,.2),
        inset 3px 3px 3px 0 rgba(255, 255, 255, 0.5);
        cursor: pointer;

        &:hover {
          box-shadow: unset;
        }
      }

      .add-chart-form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .user-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        color: $text-color;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;

        button {
          margin-top: unset;
        }

        .user-information {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-right: 20px;
          width: 40%;

          .user-login {
            margin-right: 10px;
            max-width: 50%;
            text-overflow: ellipsis;
            word-wrap: break-word;
          }
        }
      }
    }

  }
}


