<div class="popup-wrapper" [ngClass]="{'active' : isPopupOpen}">
  <div class="popup-background" (click)="closePopup()"></div>
  <div class="popup-container">
    <div class="popup-header">
      <div class="popup-title">{{popupConfig.popupTitle}}</div>
      <div class="popup-close-button icons close-icon" (click)="closePopup()"></div>
    </div>
    <div class="popup-body">
      <div [ngSwitch]="popupConfig.popupMode">
        <div *ngSwitchCase="'addChart'">
          <form ngNativeValidate class="add-chart-form" (ngSubmit)="createNewChart()">
            <div>
              <label for="chartName">Название схемы: </label>
              <input id="chartName" required placeholder="Имя схемы" type="text" name="chartName" [(ngModel)]="addChartPopupData.chartName"/>
            </div>
            <button type="submit">Создать схему</button>
          </form>
        </div>
        <div *ngSwitchCase="'addGroup'">
          <form ngNativeValidate class="add-chart-form" (ngSubmit)="createNewGroup()">
            <div>
              <label for="groupName">Название группы: </label>
              <input id="groupName" required placeholder="Имя группы" type="text" name="chartName" [(ngModel)]="addGroupPopupData.groupName"/>
            </div>
            <button type="submit">Создать группу</button>
          </form>
        </div>
        <div *ngSwitchCase="'addUserToGroup'">
          <div class="users">
            <div class="user-item" *ngFor="let user of usersAccount">
             <div class="user-information">
               <div class="user-login">{{user.login}}</div>
               <div>{{user.role}}</div>
             </div>
              <div>
                <button (click)="addUserToGroup(user.id)"> Добавить в группу</button>
              </div>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'deletePersonCardConfirmation'">
          <div class="popup-inform">
            <p> Если вы удалите человека из схемы, то все его подчиненные также будут удалены.</p>
            <p>Если вы хотите этого избежать, то перед удалением перенесите всех необходимых подчиненных в буфер приложения.</p>
          </div>
          <div class="popup-actions">
            <button class="cancel" (click)="closePopup()">Отмена</button>
            <button class="delete" (click)="deletePersonCard()">Удалить</button>
          </div>
        </div>
        <div *ngSwitchCase="'deleteChartConfirmation'">
          <div class="popup-inform">
            <p>Если вы удалите схему, то все сотрудники в этой схеме будут также удалены.</p>
            <p>Если вы хотите этого избежать, то перед удалением перенесите всех необходимых сотрудников в другую схему.</p>
          </div>
          <div class="popup-actions">
            <button class="cancel" (click)="closePopup()">Отмена</button>
            <button class="delete" (click)="deleteChart()">Удалить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


