<div (dragover)="onDragOver($event)">
  <div *ngFor="let employee of employeesArray" class="employees-chart"
    (dragover)="onDragOver($event)">
    <app-chart-item
      [ngClass]="{
        'chart-item-horizontal': treeType === 'horizontal'
      }"
      [isBufferChartItem]="isBufferChart"
      [employee]="employee"></app-chart-item>
  </div>

  <div class="empty-element-placeholder"
       *ngIf="employeesArray.length === 0 && chartMode !== 'buffer'"
       (drop)="onDrop($event)">
    <div class="empty-element-placeholder-drop icons drop-icon" ></div>
  </div>
</div>


