<div *ngIf="isInformDisplaying">
  <div class="additional-inform-container">
    <div class="list-point" *ngIf="listInform.firstName != ''">
        <span class="list-param">Имя: </span>
        <span class="list-value">{{listInform.firstName == '' ? 'Не задано' : listInform.firstName}}</span>
    </div>
    <div class="list-point" *ngIf="listInform.lastName != ''">
      <span class="list-param">Фамилия: </span>
      <span class="list-value">{{listInform.lastName == '' ? 'Не задано' : listInform.lastName}}</span>
    </div>
    <div class="list-point" *ngIf="listInform.patronymic != '' && listInform.patronymic != null">
      <span class="list-param">Отчество: </span>
      <span class="list-value">{{listInform.patronymic == '' ? 'Не задано' : listInform.patronymic}}</span>
    </div>
    <div class="list-point" *ngIf="listInform.birthDate != ''">
      <span class="list-param">Дата рождения: </span>
      <span class="list-value">{{listInform.birthDate == '' ? 'Не задано' : listInform.birthDate}}</span>
    </div>
    <div class="list-point" *ngIf="listInform.sex != ''">
      <span class="list-param">Пол: </span>
      <span class="list-value">{{listInform.sex == '' ? 'Не задано' : listInform.sex}}</span>
    </div>
    <div class="list-point" *ngIf="listInform.position != ''">
      <span class="list-param">Должность: </span>
      <span class="list-value">{{listInform.position == '' ? 'Не задано' : listInform.position}}</span>
    </div>
    <div class="list-point" *ngIf="listInform.department != ''">
      <span class="list-param">Департамент: </span>
      <span class="list-value">{{listInform.department == '' ? 'Не задано' : listInform.department}}</span>
    </div>
    <div class="list-point" *ngIf="listInform.education != ''">
      <span class="list-param">Образование: </span>
      <span class="list-value">{{listInform.education == '' ? 'Не задано' : listInform.education}}</span>
    </div>
    <div class="list-point" *ngIf="listInform.passport != ''">
      <span class="list-param">Паспортные данные: </span>
      <span class="list-value">{{listInform.passport == '' ? 'Не задано' : listInform.passport}}</span>
    </div>
    <div class="list-point" *ngIf="listInform.city != ''">
      <span class="list-param">Город: </span>
      <span class="list-value">{{listInform.city == '' ? 'Не задано' : listInform.city}}</span>
    </div>
    <div class="list-point" *ngIf="listInform.country != '' && listInform.country != null">
      <span class="list-param">Страна: </span>
      <span class="list-value">{{listInform.country == '' ? 'Не задано' : listInform.country}}</span>
    </div>
    <div class="list-point" *ngIf="listInform.phoneNumber != ''">
      <span class="list-param">Телефон: </span>
      <span class="list-value">{{listInform.phoneNumber == '' ? 'Не задано' : listInform.phoneNumber}}</span>
    </div>
  </div>
</div>
<!--TODO rework-->
