@import 'src/app/shared/shared.scss';

.additional-inform-container {
  width: $card-width;
  margin-top: 5px;
  border-radius: 12px;
  padding: 15px;
  box-shadow:inset 3px 3px 3px 0 rgba(0, 35, 148,.2),
  inset -3px -3px 3px 0 rgba(255,255,255,0.5);

  .list-point {
    width: 100%;
    display: flex;
    font-size: 18px;
    line-height: 22px;
    color: $text-color;
    text-overflow: ellipsis;
    text-align: left;

    .list-param {
      font-weight: 700;
    }
  }
}
